.drop-down{
	float: left;
	width: 130px;
	height: 22px;
	border: 1px solid #ddd;
	margin: 5px 20px 5px 0;
}



.drop-down ul {
	position: relative;
	top: 0;
	left: -1px;
	z-index: 1000;
	width: 130px;
	display: none;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ccc;
	list-style: none;
	border-radius: 0 0 3px 3px;
	margin: 0;
	padding: 0;
}