/*
kenneth mukiria
www.mukiria.com
*/

* {
	margin: 0px;
	padding: 0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}

@font-face {
    font-family: 'open_sansregular';
    src: url('../type/opensans-regular-webfont.eot');
    src: url('../type/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-regular-webfont.woff') format('woff'),
         url('../type/opensans-regular-webfont.ttf') format('truetype'),
         url('../type/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../type/myriadpro-regular_0-webfont.eot');
    src: url('../type/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-open../type'),
         url('../type/myriadpro-regular_0-webfont.woff') format('woff'),
         url('../type/myriadpro-regular_0-webfont.ttf') format('true../type'),
         url('../type/myriadpro-regular_0-webfont.svg#MyriadProRegular') format('svg');
    font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../type/dosis-regular-webfont.eot');
    src: url('../type/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/dosis-regular-webfont.woff') format('woff'),
         url('../type/dosis-regular-webfont.ttf') format('truetype'),
         url('../type/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoe_printregular';
    src: url('../type/segoepr-webfont.eot');
    src: url('../type/segoepr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/segoepr-webfont.woff') format('woff'),
         url('../type/segoepr-webfont.ttf') format('truetype'),
         url('../type/segoepr-webfont.svg#segoe_printregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'MyriadProRegular', Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	background-color: #f2f2f2;
}

a, img {
	text-decoration: none;
	border: none;
}
p{
	line-height: 1.5em;
	float: left;
	margin-bottom: 7px;
	width: 100%;
}
h1, h2, h3, h4, h5{
	width: 100%;
	float: left;
	line-height: 1.5em;
	margin-bottom: 10px;
	font-family: 'dosisregular', Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 38px;
	font-weight: normal;
}
h2 {
	font-size: 24px;
	font-weight: normal;
}
h3 {
	font-size: 16px;
	font-weight: normal;
	float: left;
}
h4 {
	font-size: 16px;
	font-weight: normal;
}
h5 {
	font-size: 14px;
	font-weight: normal;
	float: left;
}
.all {
	float: left;
	width: 100%;
	position: relative;
}

img#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 1;
}
.hide{ visibility:hidden; display:none;}
img{width:100%;float:left;height:auto;}
.mukiria {
	width: 80%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	z-index: 10;
}
.all {
	float: left;
	width: 100%;
}
.alltwo {
	float: left;
	width: 80%;
	margin-left: 10%;
}

.half, .halftwo {
	width: 48%;
}
.third {
	float: left;
	width: 30%;
}
.fourth {
	float: right;
	width: 67%;
}
.quater {
	width: 20%;
	margin-right: 2%;
}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}


nav {
	font-size: small;
	position: relative;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	float: left;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	display: inline-block;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
	color: #FFF;
}
nav li a {
	border-right: 1px solid ##0972CE;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: small;
}
nav li:last-child a {
	border-right: 0;
}
nav a#pull {
	display: none;
	font-size: small;
	text-align: center;
}
.menutop{
	float: right;
	width: 40%;
}
.menutop li {
	float: right;
	width: 33%;
}
.menutop li a {
	float: left;
	width: 100%;
	background-image: url(../images/menu-off.gif);
	background-repeat: repeat-x;
	background-position: left center;
	line-height: 30px;
}


.mainmenu{
	float: left;
	width: 100%;
	margin-top: 50px;
}
.mainmenu li {
	float: left; 
}
.mainmenu li.thirteen{
	width: 13.33%;
	float: left;
} .mainmenu li.twenty{width:20%;float: left;}
.mainmenu li a {
	width:100%;
}
nav a:hover, nav a:active, nav a.current {
	color: #FFF;
	background-image: url(../images/menu-on.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.logo {
	width: 35%;
	position: absolute;
	left: 0px;
	top: 0px;
}
.logo h1 {
	font-size: 29px;
	color: #FFF;
}
.scientist {
	float: left;
	width: 100%;
	margin-top: 100px;
	background-color: #444342;
}
.scientist .img {
	float: left;
	width: 38%;
}
.scientist .img img {
	float: left;
	height: auto;
	width: 50%;
	margin-top: -70px;
	margin-left: 25%;
}
.scientist .txt {
	float: left;
	width: 30%;
	margin-right: 6%;
	margin-left: 6%;
	margin-top: 20px;
}
.scientist .pic {
	float: left;
	width: 20%;
}
.scientist .pic span {
	background-color: #224C61;
	float: left;
	width: 90%;
	padding: 5%;
}
.circsmall {
	float: left;
	width: 100%;
	z-index: 25;
	position: relative;
}
.circsmall img{
	border-radius: 100px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	float: left;
	width: 30%;
	border: 8px solid #A22F62;
 }
 .circbig{
	border-radius: 80%;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	float: right;
	width: 40%;
	border: 12px solid #04C6EA;
	background-color: #CAEEF9;
	color: #2775AB;
	padding-top: 12%;
	padding-right: 19%;
	padding-bottom: 12%;
	padding-left: 19%;
	margin-top: -120px;
	position: relative;
}
 .circsmaller{
	border-radius: 50%;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	float: left;
	width: 10%;
	border: 7px solid #ED8001;
	background-color: #FFFF03;
	color: #B36000;
	text-align: center;
	font-size: 18px;
	background-image: url(../images/trophy.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -120px;
	position: relative;
	z-index: 25;
	margin-left: 75px;
	padding-top: 6%;
	padding-right: 5%;
	padding-bottom: 6%;
	padding-left: 5%;
}
.leaguetable {
	float: left;
	width: 99.5%;
	margin-top: 10px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #666;
}
.leaguetable .no {
	float: left;
	width: 11%;
	font-size: 48px;
	color: #999;
	text-align: center;
	padding: 2%;
	font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}
.leaguetable .txt {
	float: left;
	width: 61%;
	padding: 2%;
}
.leaguetable .txt span{
	color: #666;
	float: right;
	margin-right: 10px;
}
.leaguetable .position {
	float: left;
	width: 16%;
	padding: 2%;
	background-color: #F5F5FA;
}
.heading {
	width: 30%;
	float: left;
	position: relative;
	z-index: 100;
}

.heading h1 {
	line-height: 1em;
	width: 65%;
	font-size: 26px;
	font-weight: bold;
	font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}
.heading img {
	float: left;
	height: auto;
	width: /*35%*/ 100%;
	margin-bottom: 10px;
}
.eventsimg {
	float: none;
	height: auto;
	width: 60%;
}
.eventdate {
	background-image: url(../images/date.png);
	background-repeat: no-repeat;
	float: left;
	height: 90px;
	width: 90px;
	margin-right: 20px;
	color: #FFF;
	text-align: center;
	padding: 5px;
	font-size: 11px;
}
.eventdate span {
	font-size: 60px;
	float: left;
	width: 100%;
}

.eventdatetxt {
	float: left;
	width: 70%;
}
.eventdatetxt a {
	color: #C04F31;
}
.tophead {
	float: left;
	width: 94%;
	color: #FFF;
	background-image: url(../images/dot.png);
	padding-top: 1%;
	padding-right: 3%;
	padding-left: 3%;
}
.tophead h1 {
	width: auto;
}
.tophead a {
	background-image: url(../images/tophead.gif);
	background-repeat: repeat-x;
	float: left;
	height: 27px;
	padding-top: 13px;
	padding-right: 20px;
	padding-left: 20px;
	color: #FFF;
	margin-top: 10px;
	margin-left: 20px;
}
.ttle {
	float: left;
	width: 20%;
}
.ttle p{
	padding-bottom: 35%;
	padding-top: 30%;
	-moz-border-radius: 75%;
	-webkit-border-radius: 75%;
	border-radius: 75%;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	float: left;
	width: 90%;
	border: 3px solid #7C607E;
	background-color: #D7CFD8;
	color: #333;
	text-align: center;
	margin-top: -25px;
}
.vido {
	float: right;
	width: 70%;
}
 .testimony{
	width: 65%;
	height: 0;
	padding-bottom: 75%;
	-moz-border-radius: 75%;
	-webkit-border-radius: 75%;
	border-radius: 75%;
	padding-top: 10%;
	padding-right: 10%;
	padding-left: 10%;
	background-color: #ECCAC1;
	border: 7px solid #C04F31;
	font-size: 1.1em;
	color: #403731;
}
.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.abtimg img{
	border-radius: 75%;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	float: left;
	width: 75%;
	border: 8px solid #A22F62;
 }
.fs {
	margin: 5%;
	float: left;
	width: 90%;
	color: #333;
}
.fs h1, .fs h2 {
	color: #F08500;
}
.searchtop {
	background-color: #DBC5AD;
	background-image: url(../images/searchtop.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	padding: 2%;
	float: left;
	width: 96%;
}
.styled-select select {
	background: transparent;
	width: 100%;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
   }
.styled-select {
	width: 100%;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #FFF;
	background-image: url(../images/down_arrow_select.png);
	background-repeat: no-repeat;
	background-position: right 1;
	float: left;
   }
select option{height:50px;}
.searchtop input {
	float: left;
	height: 35px;
	width: 98%;
	padding: 1%;
}


.pagination {
	float: left;
	width: 20%;
}
.career {
	background-color: #00A0F4;
	margin: 2%;
	padding: 1%;
	float: left;
	width: 44%;
	border-radius: 1%;
}
.career .pic {
	float: left;
	width: 30%;
}
.career .txt {
	background-color: #E8DBCB;
	width: 53%;
	float: left;
	padding: 5%;
	margin-left: 5%;
}
.career .readmorethree {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
}
.careerinside {
	background-color: #00A0F4;;
	padding: 1%;
	float: left;
	width: 98%;
	border-radius: 1%;
}
.careertxt {
	background-color: #E8DBCB;
	width: 90%;
	float: left;
	padding: 4%;
	margin: 2%;
}

.career .line, .careertxt .line {
	margin-bottom: 15px;
}
.midimg {
	float: left;
	height: auto;
	width: 70%;
	margin-left: 15%;
}
.alltxt {
	float: left;
	width: 80%;
	margin-top: 20%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-left: 10%;
}
#tabs {
	margin-top: 20px;
	width: 100%;
	float: left;
	position: relative;
	height: auto;
}

.ui-tabs .ui-tabs-nav {
	float: left;
	width: 100%;
	position: relative;
	z-index: 100;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	margin-right: 10px;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #AF3A22;
	text-align: center;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a, .ui-tabs .ui-tabs-nav li a:hover {
	cursor: pointer;
	color: #FFFFFF;
	background-color: #000000;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	color: #333;
	width: 100%;
	position: relative;
	float: left;
	margin-top: 20px;
}
.ui-tabs .ui-tabs-panel .txt{
	float: left;
	width: 94%;
	line-height: 1.5em;
	background-color: #E8DBCB;
	padding: 3%;
}
.ui-tabs .ui-tabs-panel .txt .txt{
	float: left;
	width: 50%;
	margin-left: 5%;
}
.ui-tabs .ui-tabs-panel h4{
	font-size: 16px;
	color: #FFF;
	background-color: #83796F;
	padding: 2%;
	float: left;
	width: 96%;
}
.fromyear {
	font-size: 16px;
	color: #FFF;
	background-image: url(../images/years.png);
	background-repeat: no-repeat;
	text-align: center;
	float: left;
	height: 90px;
	width: 100px;
	font-weight: bold;
	padding-top: 10px;
}

.tabs-4 {
	padding: 3%;
}

.form {
	float: left;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 5px;
}
.form label {
	float: left;
	width: 96%;
	padding-right: 2%;
	padding-left: 2%;
	margin-bottom: 15px;
}
.form .input {
	float: left;
	width: 95%;
	padding: 3px;
	border: 1px solid #999;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul.listone {
	float: left;
	width: 95%;
	margin-bottom: 5px;
	margin-top: 0px;
}
ul.listone li {
	float: left;
	width: 90%;
	margin-bottom: 7px;
	padding-left: 5%;
	background-repeat: no-repeat;
	background-position: 5px 7px;
	background-image: url(../images/listone.png);
	margin-left: 2%;
}
footer{
	float: left;
	width: 100%;
	position: relative;
	background-color: #302F2D;
	margin-top: 30px;
}
footer a {
	color: #FFF;
	padding: 1%;
	float: left;
	width: 10.5%;
}
footer a:hover, footer a.current { color:#3E9CDC;}

.floatleft{float:left;} .floatright{float:right;}
.rotate {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
-o-transform: rotate(-7deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rotatetwo {
-webkit-transform: rotate(7deg);
-moz-transform: rotate(7deg);
-ms-transform: rotate(7deg);
-o-transform: rotate(7deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.margintfourtytop{margin-top:40px;} .margintsixtytop{margin-top:60px;}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1025px) {
	body{color:#333; background-color:#F3F3F3;}
	img#bg{visibility:hidden;}
	.menutop, .mainmenu, .menutop li, .mainmenu li{float: none;width: auto; margin:0px;}
	.menutop li a, .mainmenu li a, .mainmenu li.thirteen, .mainmenu li.twenty{
		float: left;
		width: 100%;
		background-image: none;
		line-height: 40px;
	}
	.clearfix{	visibility: visible;	z-index: 9999;}
	nav { 
  		height: auto;border-bottom: 0;
  	}
  	nav li {
  		width: 100%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-top: 1px solid #576979;
		background-color:#929292;
		padding-left:5%;
	}
	nav li a:hover, nav li a.current  {
		background-color:#3C94D4;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
	nav ul {
		display: none;
		height: auto;
		float:none;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:hover{ background-image:none;}
	nav a#pull:after {
		content:"";
		background: url('../images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
		color:#fff;
	}
	.logo {
	float: left;
	width: 90%;
	position: relative;
	left: none;
	top: none;
	margin-top: 5px;
	background-color:#283744; padding:5%;
	}
	.half{width:100%; float:left;}
	.scientist{color:#fff;}
	.scientist .txt {
		float: left;
		width: 94%;
		padding:3%;
		margin:0px;
	}
	.scientist .pic {
		background-color:#224C61;
		width: 100%;
	}
	.scientist .pic img {
		width: 30%;
	}
	.scientist .pic span {
		background-color: #224C61;
		float: left;
		width: 60%;
		padding: 5%;
	}
	.flex-caption{width:100%; margin-top:10px;}
	footer {
	margin-top: 30px;
} 
footer a{
	width: 45%;
	float: left;
}
	 .circbig{
	border-radius: 0px;
	float: left;
	width: 80%;
	border: 12px solid #04C6EA;
	background-color: #CAEEF9;
	color: #2775AB;
	padding: 5%;
	position: relative;
	margin-top: 10px;
	}
	 .circsmaller{
		margin-top: 0px;
		margin-left: 0px;
		width:82%;
		border-radius:0px;
	}
	.heading img{visibility:hidden;}
	.margintfourtytop{margin-top:20px;} .margintsixtytop{margin-top:20px;}
}

@media only screen and (max-width : 769px) {
	.halftwo{width:100%;}
	.floatleft{float:left;} .floatright{float:left;}
}
@media only screen and (max-width : 480px) {
	nav ul{float: none;}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
		color:#fff;
	}
	footer a{width:90%;}
}
.bgwht{ background-color:#fff;}
.bgblu{ background-color:##00A0F4;}
.clrorg{color:#F08500;}
.clrpurp{color:#A57A87;}
.clrlblu{color:#6DB4CB;}
.clrlime{color:#4CDDF7;}
.clrgry{color:#333;}
.line{width: 100%; height: 1px; background-color: #999; float: left; }
.spacelefttop {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
.text-center{ text-align:center;}
.fontsisteen{font-size:16px;}
a.readmore {
	background-image: url(../images/readmore.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 26px;
	width: 178px;
	color: #FFF;
	text-align: center;
	padding-top: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}
a.readmore:hover {
	background-position: 0px -38px;
}
a.readmoretwo {
	background-image: url(../images/readmoretwo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	height: 26px;
	width: 107px;
	color: #FFF;
	text-align: center;
	padding-top: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}
a.readmoretwo:hover {
	background-position: 0px -38px;
}
a.readmorethree {
	background-image: url(../images/readmorethree.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	height: 26px;
	width: 178px;
	color: #FFF;
	text-align: center;
	padding-top: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	margin-right: 20px;
}
a.readmorethree:hover {
	background-position: 0px -38px;
}
a.viewprofile {
	color: #C04F31;
	float: right;
}
a.viewprofile:hover {color: #BE3D80;}
