@import "skeleton.css";
/*--------------------------------------------------
		    PORTFOLIO FILTERABLE NAVIGATION
---------------------------------------------------*/
.filterable {
	width: 100%;
	float: left;
	padding-bottom: 25px;
	position: relative;
}
.filterable ul {
	margin: 0 auto;
}
.filterable li {
	background: none;
	display: inline;
	float: left;
}
.filterable li:last-child {
	background: none;
}
.filterable li:last-child a {

}
.filterable li a {
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
	float: left;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.filterable li a:hover {

}
.filterable li.current a {

}
.filterable li span {
	font-size: 11px;
	color: #ccc;
}
/*--------------------------------------------------
				PORTFOLIO
---------------------------------------------------*/
.portfolio-grid ul li a.hide {
	display: none;
}
.portfolio-grid {
	width: 960px;
	padding: 0;
	float: left;
}
.portfolio-grid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portfolio-grid ul li {
	float: left;
	margin:0px 1px 1px 0px;
	padding: 0;
	position: relative;
	background-color: #efefef;
}
.portfolio-grid ul li.col2 {
	width: 479px;
}
.portfolio-grid ul li.col3 {
	width: 309px;
	border: 5px solid #F2F6F7;
}
.portfolio-grid ul li.col4 {
	width: 239px;
}
.item-info {
	padding: 15px;
	float: left;
}
.item-info h3, .item-info-overlay h3 {
	font-size: 16px;
	font-family: 'Dosis';
	text-transform:uppercase;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin-bottom: 0;
}
.item-info h3.title {
	color: #fff;
}
.item-info-overlay h3.title {
	color: #fff;
}
.item-info-overlay h3.title {
	color: #fff;
}
.item-info h4, .item-info-overlay h4 {
	font-size:12px;
	line-height: 16px;
	color:#333;
	text-transform: uppercase;
	margin-bottom: 0;
}
/*--------------------------------------------------
		    PORTFOLIO THUMBNAIL HOVER
---------------------------------------------------*/
.item-info-overlay {
	color: #fff;
	font-size:11px;
}
.item-info-overlay {
	position:absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0px;
	display: none;
	background:#8cbd2e;
	z-index:99;
}
.item-info-overlay div {
	padding: 0 9% 9% 9%;
}
.item-info-overlay h3 {
	padding: 9% 9% 2% 9%;
	font-size: 17px;
}
.item-info-overlay p {
	margin-top: 10px;
	padding-top: 10px;
}
.item-info-overlay a.preview, .item-info-overlay a.view {
	position: absolute;
	text-indent: -9999px;
	height: 36px;
	width: 35px;
	z-index: 110;
	left:50%;
}
.item-info-overlay a.preview {
	background: url(../images/ico_zoom.png) no-repeat;
}
.item-info-overlay a.preview:hover {
	background: url(../images/ico_zoom.png) no-repeat;
	-webkit-transition:all 0.14s ease 0s;
	-moz-transition:all 0.14s ease 0s;
	-o-transition:all 0.14s ease 0s;
}
.view {
	float: left;
	overflow: hidden;
	position: relative;
	cursor: default;
	background-color: #C3D4D7;
}
.view .mask, .view .content {
	position: absolute;
	overflow: hidden;
	padding:20px;
	left: 0px;
	top: 0px;
}
/*.view img {
	display: block;
	position: relative;
}*/
.view h2 {
	text-transform: uppercase;
	color: #fff;
	position: relative;
	font-size: 16px;
	line-height:18px;
	margin-bottom:10px;
	font-family: 'aller_lightregular';
}
.view p {
	font-size: 11px;
	position: relative;
	line-height:14px;
	margin-bottom:15px;
	padding-right:10px;
}
.view a.info {
	display: block;
	text-decoration: none;
	background: url(../images/ico_zoom.png) no-repeat;
	float:right;
	position:relative;
	bottom:-22px;
	right:15px;
	padding-top:100px;
}
.view a.info: hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
.view-tenth img {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	height:100%;
	width:100%;
}
.view-tenth h2 {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.view-tenth p {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.view-tenth a.info {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.view-tenth:hover img {
	-webkit-transform: scale(10);
	-moz-transform: scale(10);
	-o-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.view-tenth:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.view-tenth:hover h2, .view-tenth:hover p, .view-tenth:hover a.info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/*============================================ Portfolio Hover  =================================================*/

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after, .ch-item:before {
	content: '';
	display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 280px;
	height: 280px;
	display: inline-block;
	margin: 18px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}
.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0, 0, 0, 0.3);
}
.ch-info .ch-info-back {
	-webkit-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
	-moz-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
	-o-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
	-ms-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
	transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
	background: #2b2d30;
	opacity: 0;
}
.ch-img-1 {
	background-image: url(../images/home/pic1.jpg);
}
.ch-img-2 {
	background-image: url(../images/home/pic2.jpg);
}
.ch-img-3 {
	background-image: url(../images/home/pic3.jpg);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 11px;
}
.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255, 255, 255, 0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}
.ch-info p a:hover {
	color: #fff222;
	color: rgba(255, 242, 34, 0.8);
}
.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
	-moz-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
	-o-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
	-ms-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
	transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
	opacity: 0;
}
.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1, 0, 0, 0deg);
	-moz-transform: rotate3d(1, 0, 0, 0deg);
	-o-transform: rotate3d(1, 0, 0, 0deg);
	-ms-transform: rotate3d(1, 0, 0, 0deg);
	transform: rotate3d(1, 0, 0, 0deg);
	opacity: 1;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
 body {
min-width:768px;
}
 header h1 a {
 height:0px;
}
nav {
 position:relative;
 margin: -110px 10px 0 0;
 float:right;
}
 .sf-menu>li>a {
 font-size: 14px;
 padding:40px 10px;
 margin-bottom:0px;
}
.sf-menu li ul, .sf-menu li.sfHover ul {
 top:97px;
 font-size:12px;
}
.sf-menu>li>ul:before, .sf-menu>li.sfHover>ul:before {
 left:40px;
}
.caption.big_white {
 font-size: 50px;
 line-height: 36px;
 padding-left:15px;
 padding-right:15px;
 padding-top: 8px;
 padding-bottom:8px;
 margin: 0px;
}
 .caption.big_green {
 font-size: 38px;
 line-height: 36px;
 padding: 0px 4px 8px 4px;
}
 .big_black {
 font-size: 32px!important;
 line-height: 36px;
 padding: 0px 4px;
}
 .small_text {
 font-size: 18px!important;
 line-height: 24px;
 margin: 0px;
 padding:5px;
}
.caption.very_big_white {
 font-size: 40px!important;
 line-height: 40px;
 padding: 0px 4px 14px;
 position:relative;
}
 .caption.very_big_green {
 font-size: 40px!important;
 line-height: 40px;
 padding: 0px 4px 14px;
}
.grid_9 {
width: 570px !important;
}
.grid_9 h1 {
font-size:20px !important;
line-height:0px;
}
.grid_1 {
width: 130px !important;
padding-right:20px;
}
 .grid_10 {
width: 570px !important;
}
.grid_10 h3 {
font-size:16px !important;
line-height:20px;
padding-bottom:18px;
}
.grid_10 h5 {
font-size:12px !important;
line-height:18px;
}
 .tagline h3, .tagline h5 {
 margin:-10px 0 3px 0;
}
.grid_2 {
width: 150px !important;
}
.tagline {
margin-top:0px;
}
.tagline {
 padding:0px;
text-align:center;
}
.searchbutton2 {
 left:95px;
}
.button {
padding:5px 10px 7px 10px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
height:10px;
 color:#ffffff !important;
font-size:12px;
line-height:50px !important;
}
.brd {
 margin:12px 0px 0px;
 width:100%;
}
 .team {
 top:140px;
}
 .client li {
 display:inline;
 margin:0 10px 200px;
}
 #contact-form input {
 width:250px!important;
}
#contact-form textarea {
 width:460px!important;
}
 .adress {
white-space: nowrap
}
 .member_list a {
font-size: 15px;
line-height: 19px;
}
.social {
 float:right;
 margin-right:20px;
}
 #contact-form textarea, #contact-form input {
width:100%;
}
 #content, .cont_pad, .info {
padding-bottom:30px;
}
.portfolio-grid {
width: 768px;
margin: 0;
}
 .portfolio-grid ul li.col2 {
 width: 383px;
}
.portfolio-grid ul li.col3 {
 width: 249px;
}
.portfolio-grid ul li.col4 {
 width: 191px;
}
 .view a.info {
 bottom:-80px;
 right:20px;
}
.view p {
 margin-right: 10px !important;
}
 .view a.info {
 top:-32px !important;
 right:15px !important;
}
 .portfolio-grid ul li.col2 .view a.info {
 top:-90px !important;
 right:25px !important;
}
 .portfolio-grid ul li.col3 .view a.info {
 top:28px !important;
 right:20px !important;
}
/* .portfolio-grid ul li.col3 img {
 width: 100%!important;
}*/
 .portfolio-grid ul li.col2 .view a.info {
 color:#a0c754!important;
}
 .searchbutton {
 left:160px;
 top:6px;
 cursor:pointer;
}
#toTop {
 right:20px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
 body {
min-width:420px;
}
 header h1, nav {
float:none;
}
 .logo {
width:40%;
margin:0px;
position:relative;
top:10px;
left:20%;
z-index:9999;
float:left;
}
 .caption.big_white {
 font-size: 24px!important;
 line-height: 24px;
 padding: 0px 4px;
}
 .caption.big_green {
 font-size: 24px!important;
 line-height: 24px;
 padding: 0px 4px;
}
 .big_black {
 font-size: 24px!important;
 line-height: 24px;
 padding: 0px 4px;
}
 .small_text {
 font-size: 14px!important;
 line-height: 18px;
 margin: 0px;
 padding:5px;
}
.caption.very_big_white {
 font-size: 24px!important;
 line-height: 24px;
 padding: 0px 4px 14px;
}
 .caption.very_big_green {
 font-size: 24px!important;
 line-height: 24px;
 padding: 0px 4px 14px;
}
 .grid_9 {
 width: 250px !important;
}
.grid_9 h1 {
font-size:24px !important;
line-height:0px;
}
.grid_1 {
width: 130px !important;
}
.grid_10 {
width: 310px !important;
}
.grid_10 h3 {
font-size:14px !important;
line-height:18px;
padding-bottom:20px;
}
.grid_10 h5 {
font-size:10px !important;
line-height:10px;
}
 .tagline h3, .tagline h5 {
 margin:-10px 0 3px 0;
}
.grid_2 {
width: 100px !important;
}
.tagline {
margin-top:0px;
}
.tagline {
 padding:0px;
text-align:center;
}
.tagline h1 {
font-size:30px;
font-weight:normal;
line-height:20px;
}
.tagline h2 {
font-size:20px;
font-weight:normal;
}
.button {
padding:3px 8px 5px 8px;


font-size:12px;
line-height:45px !important;
}
.brd {
 margin:-26px 0px 0!important;
 width:520px!important;
 position:relative;
 z-index:1;
 left:-50px!important;
}
 .portfolio-grid {
width: 420px;
margin: 0;
}
.portfolio-grid ul li.col2 {
 width: 100%;
}
.portfolio-grid ul li.col3 {
 width: 100%;
}
.portfolio-grid ul li.col4 {
 width: 100%;
}
/*.portfolio-grid ul li.col3 img {
 width: 420px!important;
}*/
 .view p {
 margin-right: 20px !important;
}
 .view a.info {
 top:170px !important;
 right:20px !important;
}
 .portfolio-grid ul li.col3 .view a.info {
 top:170px !important;
 right:20px !important;
}
 .social {
 float:right;
 margin-top:-50px;
}
 #contact-form textarea {
 width:400px!important;
}
 nav {
 margin: 50px 0 0 0;
 float:left;
 width:100%;
}
.sf-menu li ul, .sf-menu li.sfHover ul {
	width:100% !important;
	
}
 .sf-menu {
 display:none;
 margin:0;
 overflow:hidden;
 position:relative;
}
 #header .nav_wrap {
height:auto;
}
 .responsibe_block, .responsibe_block {
display:block;
}
 .responsibe_block {
 padding-bottom:7px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
 .responsibe_block_inner .social_list li a img {
 opacity:.2;
 filter:alpha(opacity=20);
 -webkit-transition:opacity .3s ease-out;
 -moz-transition:opacity .3s ease-out;
 -ms-transition:opacity .3s ease-out;
 -o-transition:opacity .3s ease-out;
 transition:opacity .3s ease-out;
}
 .resp_navigation.active {
background-color:#8cbd2e;
}
 .responsibe_block_inner .social_list li a:hover img {
 opacity:.8;
 filter:alpha(opacity=80);
}
 .responsibe_block_inner {
 height:38px;
 padding:12px 13px 0;
 overflow:hidden;
 border-radius:5px 5px 0 0;
 -moz-border-radius:5px 5px 0 0;
 -webkit-border-radius:5px 5px 0 0;
}
 .resp_navigation {
 background:#333 url(../images/resp_navi_bg.png) no-repeat 50% 50%;
 display:block;
 width:36px;
 height:27px;
 float:right;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
 .resp_navigation:hover {
 background:#8cbd2e url(../images/resp_navi_bg.png) no-repeat 50% 50%;
}
 .client {
 width:420px!important;
}
 .client li {
 display:inline;
 margin:0 10px 20px 0;
}
 #toTop {
 right:20px;
}
}
 @media only screen and (max-width: 479px) {
 body {
min-width:300px;
}
 .list_box ul {
float:left;
width:100px;
}
 .logo {
width:55%;
margin:0px;
position:relative;
top:25px;
left:10%;
}
.caption.big_white {
 font-size: 14px!important;
 line-height: 14px;
 padding: 0px 4px;
}
 .caption.big_green {
 font-size: 14px!important;
 line-height: 14px;
 padding: 0px 4px;
}
 .big_black {
 font-size: 14px!important;
 line-height: 14px;
 padding: 0px 4px;
}
 .small_text {
 font-size: 8px!important;
 line-height: 10px;
 margin: 0px;
 padding:5px;
}
.caption.very_big_white {
 font-size: 15px!important;
 line-height: 16px;
 padding: 0px 4px 14px;
}
 .caption.very_big_green {
 font-size: 15px!important;
 line-height: 16px;
 padding: 0px 4px 14px
}
 .grid_9 {
width: 160px !important;
}
.grid_9 h1 {
font-size:20px !important;
line-height:0px;
}
.grid_1 {
width: 120px !important;
}
.grid_10 {
width: 200px !important;
}
.grid_10 h3 {
font-size:10px !important;
line-height:10px;
padding-bottom:20px;
}
.grid_10 h5 {
font-size:8px !important;
line-height:10px;
}
 .tagline h3, .tagline h5 {
 margin:-10px 0 3px 0;
}
.grid_2 {
width: 90px !important;
}
.tagline {
margin-top:0px;
}
.tagline {
 padding:0px;
text-align:center;
}
.searchbutton2 {
 left:95px;
}
.button {
padding:3px 3px 5px 3px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
height:5px;
 color:#ffffff !important;
font-size:11px;
line-height:40px !important;
}
.brd {
 margin:-11px 0px 0px;
 width:100%;
}
#contact-form textarea {
 width:260px!important;
}
.client {
width:330px;
}
.client li {
 display:inline;
 margin:0 10px 200px;
}
 .social {
 float:left;
}
 .blog_content figure {
width:100%;
margin-bottom:15px;
}
.portfolio-grid {
width: 100%;
margin: 0;
}
.portfolio-grid ul li.col2, .portfolio-grid ul li.col3, .portfolio-grid ul li.col4 {
width: 100%;
margin: 0 0 1px 0;
}
/*.view img {
 width:300px !important;
 height:220px !important;
}*/
.view a.info {
 bottom:-80px;
 right:20px;
}
.view p {
 margin-right: 10px !important;
}
 .view a.info {
 top:80px !important;
 right:20px !important;
}
/* .grid_1 img {
 width:290px !important;
 height:150px !important;
}*/
 .posttime h1 {
 font-size:20px;
 line-height:12px;
}
.posttime h3 {
 font-size:10px;
 line-height:10px;
 margin-bottom:5px;
}
.entry-utility a {
 padding:2px 5px;
}
.commentlist ol {
 padding:30px 0 0 20px;
}
#toTop {
 right:20px;
}
 nav {
 margin: 50px 0 0 0;
 float:left;
 width:100%;
}
 .sf-menu {
 display:none;
 margin:0;
 overflow:hidden;
 position:relative;
}
.sf-menu li ul, .sf-menu li.sfHover ul {
	width:100% !important;
	
}
 #header .nav_wrap {
height:auto;
}
 .responsibe_block, .responsibe_block {
display:block;
}
 .responsibe_block {
 padding-bottom:7px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
/* .responsibe_block_inner .social_list li a img {
 opacity:.2;
 filter:alpha(opacity=20);
 -webkit-transition:opacity .3s ease-out;
 -moz-transition:opacity .3s ease-out;
 -ms-transition:opacity .3s ease-out;
 -o-transition:opacity .3s ease-out;
 transition:opacity .3s ease-out;
}*/
 .resp_navigation.active {
background-color:#8cbd2e;
}
 .responsibe_block_inner .social_list li a:hover img {
 opacity:.8;
 filter:alpha(opacity=80);
}
 .responsibe_block_inner {
 height:38px;
 padding:12px 13px 0;
 overflow:hidden;
 border-radius:5px 5px 0 0;
 -moz-border-radius:5px 5px 0 0;
 -webkit-border-radius:5px 5px 0 0;
}
 .resp_navigation {
 background:#333 url(../images/resp_navi_bg.png) no-repeat 50% 50%;
 display:block;
 width:36px;
 height:27px;
 float:right;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}
 .resp_navigation:hover {
 background:#8cbd2e url(../images/resp_navi_bg.png) no-repeat 50% 50%;
}
}
.fpic {
	float: left;
	width: 80px;
	background-color: #064D59;
	text-align: left;
	height: 90px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.fpic img {
	height: 83px;
	width: 80px;
}

.ftxt {
	float: left;
	width: 189px;
	color: #333;
}
.ftxt span {
	font-size: 16px;
	float: left;
	margin: 7px;
}
.ftxt hr {
	float: left;
	height: 1px;
	width: 80%;
	border: 0px;
	color: #064D59;
	background-color: #064D59;
	margin-left: 5%;
}

.plus {
	text-align: center;
	float: left;
	width: 20px;
}
.plus a {
	background-image: url(../images/plus.png);
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 16px;
	margin-top: 50px;
}
.plus a:hover {
	background-image: url(../images/plus-over.png);
}
.tabsform {
	padding: 2%;
	float: left;
	width: 96%;
}
.tabsform label {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.tabsform h2 {
	margin-bottom: 30px;
}

.tabsform .name {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 5%;
}
.tabsform input {
	float: left;
	width: 60%;
	padding: 1px;
	height: 20px;
	border: 1px solid #333;
}
.tabsform textarea {
	float: left;
	width: 60%;
	padding: 1px;
	border: 1px solid #333;
}
.tabsform .button {
	height: 49px;
	width: 98px;
}
.ce {
	padding: 2%;
	float: left;
	width: 96%;
}
.cedate {
	float: left;
	width: 10%;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #494962;
	border-bottom-color: #494962;
	border-left-color: #494962;
}
.cetxt {
	background-color: #FFF;
	padding: 2%;
	float: left;
	width: 80%;
	color: #333;
	border: 5px solid #494962;
}
.cepic {
	float: left;
	width: 100%;
}
.ceteam {
	float: left;
	width: 23%;
	margin: 1%;
}

.cedate img, .cepic img {
	float: left;
	height: auto;
	width: 100%;
}
#tabs .readmore2 a{
	float: right;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	background-color: #00AEEF;
	font-weight: bold;
	color: #07071E;
	margin-right: 10px;
	}
.tab3all {
	float: left;
	width: 100%;
	border-top-width: 20px;
	border-top-style: solid;
	border-top-color: #FFF;
}
